.btn {
  height: 2.6rem;
  border: 1px solid black;
  border-radius: 0;
  outline: none;
  font-family: var(--body-font);
  color: var(--main-font-color);
  background-color: var(--main-btn-color);
  transition: all 0.2s ease-out;
}

.btn-small {
  width: 6.2rem;
  height: 2.6rem;
  font-size: 1rem;
  position: relative;
  box-shadow: 5px 5px 0px var(--main-font-color);
  transition: all 0.2s ease-out;
}

.btn-small:hover,
.btn-medium:hover {
  color: var(--main-bg-color);
  background-color: var(--main-font-color);
  box-shadow: 5px 5px 0px var(--main-btn-color);
}

.btn-medium {
  width: 7.6rem;
  height: 3rem;
  font-size: 1rem;
  position: relative;
  box-shadow: 5px 5px 0px var(--main-font-color);
  transition: all 0.2s ease-out;
}
